In [1]:
import pandas as pd

In [2]:
hmda=pd.read_pickle('mortgage_data_balanced.pkl')

In [5]:
hmda.shape

(165950, 78)

In [8]:
hmda.head(5)

   as_of_year  ... application_date_indicator
0        2011  ...                          0
1        2011  ...                          0
2        2011  ...                          0
3        2011  ...                          0
4        2011  ...                          0

[5 rows x 78 columns]

In [7]:
hmda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165950 entries, 0 to 165949
Data columns (total 78 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   as_of_year                      165950 non-null  int64
 1   respondent_id                   165950 non-null  object
 2   agency_name                     165950 non-null  object
 3   agency_abbr                     165950 non-null  object
 4   agency_code                     165950 non-null  int64
 5   loan_type_name                  165950 non-null  object
 6   loan_type                       165950 non-null  int64
 7   property_type_name              165950 non-null  object
 8   property_type                   165950 non-null  int64
 9   loan_purpose_name               165950 non-null  object
 10  loan_purpose                    165950 non-null  int64
 11  owner_occupancy_name            165950 non-null  object
 12  owner_occupancy                 165950 non-null  int64
 13  loan_amount_000s                165950 non-null  int64
 14  preapproval_name                165950 non-null  object
 15  preapproval                     165950 non-null  int64
 16  action_taken_name               165950 non-null  object
 17  action_taken                    165950 non-null  int64
 18  msamd_name                      141539 non-null  object
 19  msamd                           141539 non-null  float64
 20  state_name                      165950 non-null  object
 21  state_abbr                      165950 non-null  object
 22  state_code                      165950 non-null  float64
 23  county_name                     165950 non-null  object
 24  county_code                     165950 non-null  float64
 25  census_tract_number             165950 non-null  float64
 26  applicant_ethnicity_name        165950 non-null  object
 27  applicant_ethnicity             165950 non-null  int64
 28  co_applicant_ethnicity_name     165950 non-null  object
 29  co_applicant_ethnicity          165950 non-null  int64
 30  applicant_race_name_1           165950 non-null  object
 31  applicant_race_1                165950 non-null  int64
 32  applicant_race_name_2           626 non-null     object
 33  applicant_race_2                626 non-null     float64
 34  applicant_race_name_3           34 non-null      object
 35  applicant_race_3                34 non-null      float64
 36  applicant_race_name_4           9 non-null       object
 37  applicant_race_4                9 non-null       float64
 38  applicant_race_name_5           8 non-null       object
 39  applicant_race_5                8 non-null       float64
 40  co_applicant_race_name_1        165950 non-null  object
 41  co_applicant_race_1             165950 non-null  int64
 42  co_applicant_race_name_2        217 non-null     object
 43  co_applicant_race_2             217 non-null     float64
 44  co_applicant_race_name_3        7 non-null       object
 45  co_applicant_race_3             7 non-null       float64
 46  co_applicant_race_name_4        2 non-null       object
 47  co_applicant_race_4             2 non-null       float64
 48  co_applicant_race_name_5        9 non-null       object
 49  co_applicant_race_5             9 non-null       float64
 50  applicant_sex_name              165950 non-null  object
 51  applicant_sex                   165950 non-null  int64
 52  co_applicant_sex_name           165950 non-null  object
 53  co_applicant_sex                165950 non-null  int64
 54  applicant_income_000s           165950 non-null  float64
 55  purchaser_type_name             165950 non-null  object
 56  purchaser_type                  165950 non-null  int64
 57  denial_reason_name_1            57121 non-null   object
 58  denial_reason_1                 57121 non-null   float64
 59  denial_reason_name_2            10863 non-null   object
 60  denial_reason_2                 10863 non-null   float64
 61  denial_reason_name_3            2114 non-null    object
 62  denial_reason_3                 2114 non-null    float64
 63  rate_spread                     2939 non-null    float64
 64  hoepa_status_name               165950 non-null  object
 65  hoepa_status                    165950 non-null  int64
 66  lien_status_name                165950 non-null  object
 67  lien_status                     165950 non-null  int64
 68  edit_status_name                22429 non-null   object
 69  edit_status                     22429 non-null   float64
 70  sequence_number                 165950 non-null  int64
 71  population                      165950 non-null  float64
 72  minority_population             165950 non-null  float64
 73  hud_median_family_income        165950 non-null  float64
 74  tract_to_msamd_income           165950 non-null  float64
 75  number_of_owner_occupied_units  165950 non-null  float64
 76  number_of_1_to_4_family_units   165950 non-null  float64
 77  application_date_indicator      165950 non-null  int64
dtypes: float64(24), int64(20), object(34)
memory usage: 98.8+ MB

In [9]:
hmda.describe()

       as_of_year  ...  application_date_indicator
count    165950.0  ...               165950.000000
mean       2011.0  ...                    0.000006
std           0.0  ...                    0.002455
min        2011.0  ...                    0.000000
25%        2011.0  ...                    0.000000
50%        2011.0  ...                    0.000000
75%        2011.0  ...                    0.000000
max        2011.0  ...                    1.000000

[8 rows x 44 columns]